body{
    background-color: #1a0033;
    color: #f1f1f1;
}

.modal-title, label.form-label{
    color: #474747;
}

.task-text{
    color: #474747;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.errorEdit{
    color: #b80000;
    font-weight: 600;
}
